@import 'src/variables.module.scss';

.outputContainer {
  margin-right: 100px;

  .output {
    border: 1px solid;
    border-radius: $size-xl;
    text-align: left;
    padding-top: $size-xl;
    padding-bottom: $size-xl;
    height: 524px;
    width: 524px;
    margin-bottom: $size-xl;
  }
}
